{% extends "base.html" %}

{% block title %}
SwiftMessengr - Admin Dashboard
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin.css') }}">
{% endblock %}

{% block content %}
<section class="admin">
    <div class="sidebar">
        <ul>
            <li>
                <a href="/admin/moderation">Moderation</a>
            </li>
            <li>
                <a href="/admin/team">Development Team</a>
            </li>
            <li>
                <a href="/admin/todolist">Todolist</a>
            </li>
        </ul>
    </div>
    <div class="main-panel">
        {% block admin_content %}
        {% endblock %}
    </div>
</section>
{% endblock %}