{% extends "admin/admin.html" %}

{% block admin_content %}
<section class="team">
    {% for dev in devs %}
        <div class="dev">
            <img src="{{ url_for('static', filename='files/'+dev.profile_picture) }}" alt="dev profile picture">
            <div class="infos">
                <span>{{ dev.name }}</span>
                <p>{{ dev.bio }}</p>
            </div>
        </div>
    {% endfor %}
</section>
<button class="add-modal-open">
    <i class='bx bxs-message-add'></i>
</button>
<span class="tooltip">
    <p>Add a new team member</p>
</span>
<span class="arrow"></span>
{% endblock %}