{% extends "admin/admin.html" %}

{% block admin_content %}
<h1>Todolist</h1>
<section class="todolist">
    {% for task in all_tasks %}
    <div class="task" priority="{{ task.priority }}">
        <div class="name-container">
            <h2 class="name">{{ task.name }}</h2>
        </div>
        <p class="description">{{ task.description }}</p>
        <div class="bottom">
            <span class="priority">
                <p>{{ sm_priority_to_string(task.priority) }}</p>
                <i class='bx bxs-down-arrow'></i>
            </span>
            <div class="priority-dropdown invisible">
                <span>Low</span>
                <span>Important</span>
                <span>High</span>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</section>
<button class="add-modal-open">
    <i class='bx bxs-message-add'></i>
</button>
<span class="tooltip">
    <p>Add a new task to the list</p>
</span>
<span class="arrow"></span>
{% endblock %}