{% extends 'admin/admin.html' %}

{% block content %}
<div class="table-data">
    <dialog id="new-task-form" class="todo-dialog">
        <img class="close-message" id="close" src="{{ url_for('static', filename='media/close.png') }}" alt="close button">
        <form hx-post="/admin/todolist/add" hx-target="#container" hx-swap="innerHTML">
            <input type="text" name="name" placeholder="Enter a name...">
            <button type="submit">Confirm</button>
        </form>
    </dialog>
    <div class="todo">
        <div class="head">
            <h3>Todos</h3>
            <button hx-get="/admin/todolist" hx-target="#container" hx-swap="innerHTML" class="refresh-todos">
                Refresh Todos
                <i class='bx bx-refresh'></i>
            </button>
            <i class="bx bx-plus"></i>
        </div>
        <ul class="todo-list">
            {% for task in all_tasks %}
            <li class="completed">
                <p>{{ task.name }}</p>
                <i class="bx bx-dots-vertical-rounded"></i>
                <dialog class="context-menu">
                    <div name="delete">
                        <span>Update</span>
                        <i class='bx bxs-pencil'></i>
                    </div>
                    <div hx-post="/api/admin/todolist/delete/{{ task.id }}" hx-target="#container" hx-swap="innerHTML">
                        <span>Delete</span>
                        <i class='bx bx-trash'></i>
                    </div>
                </dialog>
                <dialog id="update-task-form" class="todo-dialog">
                    <img class="close-message" id="close-update-box" src="{{ url_for('static', filename='media/close.png') }}" alt="close button">
                    <form hx-post="/api/admin/todolist/update/{{ task.id }}" hx-target="#container" hx-swap="innerHTML">
                        <input type="text" name="new-name" placeholder="Enter a new name...">
                        <button type="submit">Confirm</button>
                    </form>
                </dialog>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
{% endblock %}