{% extends "settings/settings.html" %}

{% block settings_content %}
<h1>Change your password</h1>
<form action="/api/settings/update/password" method="post" class="change-password">
    <div class="password">
        <input type="password" name="old-password" placeholder="Current password..." required>
        <i class='bx bxs-show'></i>
    </div>
    <div class="password">
        <input type="password" name="new-password" placeholder="New password..." required>
        <i class='bx bxs-show'></i>
    </div>
    <div class="password">
        <input type="password" name="confirm-new-password" placeholder="Confirm new password..." required>
        <i class='bx bxs-show'></i>
    </div>
    <div class="password-rules">
        <ul>
            <li>Your password must be longer than 10 characters.</li>
            <li>Your password must contain at least 1 uppercase letter.</li>
            <li>Your password must contain at least 1 number.</li>
        </ul>
    </div>
    <button type="submit">Confirm</button>
</form>
{% endblock %}