{% extends "settings/settings.html" %}

{% block settings_content %}
<h1>Change your password</h1>
<form action="/api/settings/update/password" method="post" class="change-password">
    <input type="password" name="old-password" placeholder="Current password...">
    <input type="password" name="new-password" placeholder="New password...">
    <input type="password" name="confirm-new-password" placeholder="Confirm new password...">
    <button type="submit">Confirm</button>
</form>
{% endblock %}