{% extends "settings/settings.html" %}

{% block settings_content %}
<h1>Change your profile picture</h1>
<form hx-post="/api/settings/update/profile-picture" hx-target="#body" hx-swap="innerHTML" class="choose-image-form" enctype="multipart/form-data">
    <input id="choose-image-input" name="image-file" type="file" accept="image/*" hidden>
    <!-- not a button because a button would submit the form -->
    <div class="choose-image" id="choose-image">
        <span>Select an image</span>
    </div>
    <div class="new-img-container" id="new-img-container"></div>
    <button class="choose-image-btn" id="submit-form">Confirm</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/profile_picture.js') }}"></script>
{% endblock %}