{% extends "base.html" %}

{% block title %}
SwiftMessengr - Settings
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
<div class="settings">
    <div class="sidebar">
        <ul>
            <li>
                <a href="/settings/profile-picture">Change your profile picture</a>
            </li>
            <li>
                <a href="/settings/color-scheme">Change the color scheme</a>
            </li>
        </ul>
    </div>
    <div class="main-panel" id="main-panel">
        <h1>settings panel</h1>
    </div>
</div>
{% endblock %}