<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='media/favicon.ico') }}" type="image/x-icon">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    {% block style %}
    {% endblock %}
</head>
<body id="body">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="message-container">
                {% for category, message in messages %}
                    <div class="flashed-message {{ category }}" id="message">
                        <p>{{ message }}</p>
                    </div>
                    <img class="close-message" id="close-message" src="{{ url_for('static', filename='media/close.png') }}" alt="close button">
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="progress-bar" id="progress-bar"></div>

    <nav class="nav" id="navbar">
        <span class="logo">swiftmessengr</span>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <div class="auth-buttons">
            {% if not current_user.is_authenticated %}
            <li class="login slide">
                <a href="/login">Login</a>
            </li>
            <li class="sign-up">                
                <button>
                    <a href="/sign-up">Sign Up</a>
                </button>
            </li>
            {% else %}
            <li class="slide">
                <a href="/chat">Chat</a>
            </li>
            <li class="logout slide">
                <a href="/logout">Logout</a>
            </li>
            <li>
                <a href="/settings/profile-picture">
                    <img src="{{ url_for('static', filename=''+current_user.profile_picture) }}" class="profile-picture" alt="user profile picture">
                </a>
            </li>
            {% endif %}
          </div>
        </ul>
      </nav>
    {% block content %}
    {% endblock %}

    <footer class="footer">
        {% block footer %}
        {% endblock %}
    </footer>
</body>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
<script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
<script src="{{ url_for('static', filename='js/close_message.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_room.js') }}"></script>
<script src="{{ url_for('static', filename='js/profile_picture.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script>
    document.body.setAttribute('theme', localStorage.getItem('theme'))
</script>
{% block scripts %}
{% endblock %}
</html>