{% extends "base.html" %}

{% block title %}
SwiftMessengr - Chat
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" />
<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<main id="container">
    <div class="ui-container">
        <div class="sidebar">
            <div class="search-container">
                <input type="text" class="search" placeholder="Search here..." />
            </div>
            <div class="group-container" id="group-container">
                <span class="separator top-separator"></span>
                {% for group in groups %}
                {% if group.creator == user.username %}
                <div class="group" hx-get="/api/chat/group/{{ group.id }}" data-group-id="{{ group.id }}" hx-target="#chat-area"
                    hx-swap="innerHTML" hx-trigger="click">
                    <span>
                        <p class="group-name">{{ group.name }}</p>
                    </span>
                    <img class="group-picture" src="{{ url_for('static', filename='files/'+group.image_path) }}"
                        alt="group logo">
                </div>
                <span class="separator"></span>
                {% endif %}
                {% endfor %}
            </div>
            <button class="new-room" id="create-room-btn">
                <i class='bx bxs-message-add'></i>
            </button>
            <span class="tooltip">
                <p>Create a new chat room</p>
            </span>
            <span class="arrow"></span>
        </div>
    
        <div class="chat-area" id="chat-area"></div>
    
        <dialog id="room-form" class="room-form">
            <button id="room-close-btn" class="close-button">
                <img src="{{ url_for('static', filename='media/close.png') }}" alt="close button">
            </button>
            <form hx-post="/api/chat/create" hx-target="#group-container" hx-swap="innerHTML" enctype="multipart/form-data">
                <input type="text" id="room-name" name="room-name" placeholder="Room name..." required>
                <input id="choose-image-input" name="image-file" type="file" accept="image/*" hidden>
                <!-- not a button because a button would submit the form -->
                <div class="form-btn form-btn-div" id="choose-image">
                    <span>Select an image</span>
                </div>
                <div class="new-img-container" id="new-img-container"></div>
                <button class="form-btn" id="submit-form">Confirm</button>
            </form>
            <p id="error-message">The name must be less than 100 characters!</p>
        </dialog>
    </div>
</main>
{% endblock %}