{% extends "base.html" %} 

{% block title %}
SwiftMessengr - Login
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post" class="form" action="/api/auth/login" autocomplete="off">
        <div class="field-container">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Your name..." required>
        </div>
        <div class="field-container">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Your password..." required>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
</div>
{% endblock %}