{% extends "base.html" %}

{% block title %}
SwiftMessengr - Sign Up
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<div class="form-container">
    <form method="post" class="form" action="/api/auth/sign-up" autocomplete="off">
        <div class="field-container">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Your name..." required>
        </div>
        <div class="field-container">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password..." required>
        </div>
        <div class="field-container">
            <label for="confirm">Confirm your password</label>
            <input type="password" id="confirm" name="confirm" placeholder="Confirm your password" required>
        </div>
        <button type="submit" class="btn">Sign Up</button>
    </form>
</div>
{% endblock %}