@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Titillium+Web&display=swap');

:root {
    --sidebar-width: 40rem;
    --sidebar-height: 100vw;
    --sidebar-background: #0e1343;
    --discret-color: #787a7c;
    --rounded: 6px;
    --sidebar-color: #a2a5a6;
}

* {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
}

*:not(.chat-area) {
    color: #a2a5a6;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn {
    border-radius: var(--rounded);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px 13px;
    transition: background-color 0.3s;
    background-color: #0a16a9;
    color: #fff;
}

.btn:hover {
    background-color: #09147d;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    background-color: transparent !important;
}

.close-message {
    aspect-ratio: 1/1;
    width: 20px;
    margin-left: 1rem;
}

.close-message:hover {
    cursor: pointer;
}

.error {
    --color: red;
}

.success {
    --color: green;
}

.message {
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 30rem;
    border-radius: 0 0 12px 12px;
}

.message p {
    color: #fff;
}

.group-message {
    width: calc(var(--sidebar-width) - 4rem);
    border-radius: 10px;
    margin-top: 1rem;
}