:root {
    --background: #0e1343;
    --color: #a2a5a6;
    --rounded: 6px;
}

body {
    background-color: var(--background);
    color: var(--color);
}

a {
    text-decoration: none;
}

.btn-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}