:root {
    --background: #0e1343;
    --color: #a2a5a6;
    --rounded: 6px;
}

body {
    background-color: var(--background);
    color: var(--color);
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #172ad9;
    width: 20rem;
    height: 20rem;
    border-radius: calc(var(--rounded) * 2);
}

.signup-form input {
    padding: 15px 15px;
    width: 12rem;
    height: 0.5rem;
    border-radius: var(--rounded);
    outline: none;
    border: none;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}