{% extends 'chat.html' %}

{% block chat_area %}
<div id="messages-container" class="messages-container">
    {% for message in messages %}
        {% if message.chat_group == current_chat_group %}
        <div class="message">
            <img class="message-profile-picture" src="{{ url_for('static', filename=''+user.profile_picture) }}" alt="profile picture">
            <div class="infos-container">
                <p class="message-username">{{ user.username }}</p>
                <form method="post" action="/api/chat/message/edit/{{ message.id }}">
                    <input type="text" name="message" value="{{ message.content }}" disabled>
                </form>
            </div>
            {% if message.sender == user.username %}
            <div class="options">
                <button name="edit-message">
                    <i class="bx bx-edit"></i>
                </button>
                <form method="post" action="/api/chat/message/delete/{{ message.id }}">
                    <button type="button" name="delete-message-btn">
                        <i class="bx bxs-trash"></i>
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endfor %}
</div>

<form method="post" action="/api/chat/send" class="send-message-form" id="send-message-form" 
      data-current-chat-group="{{ current_chat_group }}" 
      data-profile-picture="{{ user.profile_picture }}"
      data-sender="{{ user.username }}"
      data-last-id="{{ messages[-1].id }}"
    >
    <input type="text" name="message" class="send-message" id="message" placeholder="Enter a message..." autocomplete="off" />
    <input type="submit" hidden value="{{ current_chat_group }}" name="current-chat-group">
</form>
{% endblock %}

{% block members %}
<div class="title-container">
    <h2>All group members</h2>
</div>
<div class="members">
    {% for member in members %}
    <div class="member">
        <img class="profile-picture" src="{{ url_for('static', filename=''+member.profile_picture) }}" alt="{{ member.username }} profile picture">
        <p>{{ member.username }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}