<ul class="box-info">
    <li>
        <i class="bx bxs-group total-users"></i>
        <span class="text">
            <h3>{{ total_users }}</h3>
            <p>Total users</p>
        </span>
    </li>
</ul>
<div class="table-data">
    <div class="order">
        <div class="head">
            <h3>All Users</h3>
            <i class="bx bx-search" ></i>
            <i class="bx bx-filter" ></i>
        </div>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Join Date</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename=''+user.profile_picture) }}">
                        <p>{{ user.username }}</p>
                    </td>
                    <td>{{ user.join_date }}</td>
                    <td>
                        {% if user.role == 'user' %}
                        <span class="status completed">{{ user.role }}</span>
                        {% elif user.role == 'admin' %}
                        <span class="status pending">{{ user.role }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>