body {
    overflow: hidden;
}

.admin .sidebar {
    position: absolute;
    border-right: 1px solid #a2a5a6;
    height: 100%;
}

.admin .sidebar ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 2rem;
}

.admin .sidebar ul li {
    list-style: none;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    height: 2rem;
    width: fit-content;
    padding: 10px 1rem;
}

.admin .sidebar ul li a {
    color: black;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
}

.admin .sidebar ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
}

.admin .main-panel {
    width: 100%;
}

@media (min-width: 50em) {
    .admin .sidebar {
        height: 100%;
        width: 16rem;
    }

    .admin .main-panel {
        margin-left: 16rem;
        padding: 2rem 3rem;
    }
}

section h1 {
    font-size: 2rem;
}

body[theme=dark] .admin .main-panel {
    color: white;
}

body[theme=dark] .admin .sidebar {
    background-color: var(--dark-gray);
    color: white;
}

body[theme=dark] .admin .sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    cursor: pointer;
}

body[theme=dark] .admin .sidebar ul li a {
    color: white;
}

/* team page */
.team .dev {
    border: 1px solid var(--main-blue);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2rem;
    width: fit-content;
    transition: 0.2s scale;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.team .dev:hover {
    scale: 1.02 1.02;
    cursor: pointer;
}

.team .dev img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 14rem;
    display: flex;
}

.team .dev span {
    color: var(--main-blue);
    font-size: 2rem;
}

.team .dev p  {
    width: 30rem;
    overflow-wrap: break-word;
    text-align: justify;
}

/* todolist */
.todolist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.todolist .task {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
    width: 25rem;
    border: 1px solid var(--main-blue);
    border-radius: 8px;
    padding: 1rem;
    position: relative;
    overflow-wrap: break-word;
}

.todolist .task .priority-dropdown {
    position: absolute;
    top: calc(100% - 1rem);
    padding: 0.75rem 0;
    border-radius: 8px;
    background-color: #a6a6a6;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* rotate on click */
.rotate {
    rotate: 180deg;
}

.todolist .task .priority-dropdown span {
    padding: 0.5rem 1rem;
}

.todolist .task .priority-dropdown span:hover {
    cursor: pointer;
    background-color: #606060;
}

.todolist .task .name-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todolist .task .bottom {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.todolist .task .bottom .edit {
    margin-left: auto;
    font-size: 2rem;
    margin-top: 1rem;
    color: #fff;
    background-color: transparent;
    border: none;
}

.todolist .task .bottom .edit:hover {
    cursor: pointer;
}

.todolist .task .priority {
    color: #fff;
    border-radius: 6px;
    border: 1px solid;
    padding: 0.5rem;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* smooth rotation */
.todolist .task .priority i {
    transition: 0.3s rotate;
}

.todolist .task .priority:hover {
    cursor: pointer;
}

.todolist .task[priority="1"] .priority {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.todolist .task[priority="2"] .priority {
    background-color: #ffc107;
    border-color: #ffc107;
}

.todolist .task[priority="3"] .priority {
    background-color: #dc3545;
    border-color: #dc3545;
}