body {
    overflow: hidden;
}

.admin .sidebar {
    position: absolute;
    border-right: 1px solid #a2a5a6;
    height: 100%;
}

.admin .sidebar ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 2rem;
}

.admin .sidebar ul li {
    list-style: none;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    height: 2rem;
    width: fit-content;
    padding: 10px 1rem;
}

.admin .sidebar ul li a {
    color: black;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 1em;
    margin: -1em;
}

.admin .sidebar ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
}

.admin .main-panel {
    width: 100%;
}

@media (min-width: 50em) {
    .admin .sidebar {
        height: 100%;
        width: 16rem;
    }

    .admin .main-panel {
        margin-left: 16rem;
        padding: 2rem 3rem;
    }
}

body[theme=dark] .admin .main-panel {
    color: white;
}

body[theme=dark] .admin .sidebar {
    background-color: var(--dark-gray);
    color: white;
}

body[theme=dark] .admin .sidebar ul li:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    cursor: pointer;
}

body[theme=dark] .admin .sidebar ul li a {
    color: white;
}

/* team page */
.team .dev {
    border: 1px solid var(--main-blue);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2rem;
    width: fit-content;
    transition: 0.2s scale;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.team .dev:hover {
    scale: 1.02 1.02;
    cursor: pointer;
}

.team .dev img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 14rem;
    display: flex;
}

.team .dev span {
    color: var(--main-blue);
    font-size: 2rem;
}

.team .dev p  {
    width: 30rem;
    overflow-wrap: break-word;
    text-align: justify;
}