.todo {
    flex-grow: 1;
    flex-basis: 300px;
}

.todo-list {
    width: 100%;
}

.todo-list .context-menu {
    position: absolute;
    left: 88%;
    height: 80px;
    width: 130px;
    background-color: var(--dark-grey);
    color: var(--light);
    border: 1px solid var(--light);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.todo-list .context-menu div {
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.todo-list .context-menu div:hover {
    background: var(--grey);
    cursor: pointer;
}

.todo-list li {
    width: 100%;
    margin-top: 16px;
    background: var(--dark-grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-list li .bx {
    cursor: pointer;
}

.todo-list li.completed {
    border-left: 10px solid var(--blue);
}

.todo-list li.not-completed {
    border-left: 10px solid var(--orange);
}

.todo-list li:last-child {
    margin-bottom: 0;
}

.head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.head .bx {
    cursor: pointer;
}

.todo-dialog {
    width: 15rem;
    height: 9rem;
    background-color: #0e1343;
    border: 1px solid #787a7c;
    border-radius: 6px;
    position: absolute;
}

.todo-dialog form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    gap: 20px;
}

.todo-dialog form button {
    cursor: pointer;
    padding: 15px 15px;
    width: 10rem;
    height: 0.5rem;
    background-color: #14b8b2;
    color: white;
    border-radius: 6px;
    border: #787a7c;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todo-dialog form button:hover {
    cursor: pointer;
    background-color: #17e6df;
}

.todo-dialog input {
    padding: 15px 15px;
    width: 10rem;
    height: 0.5rem;
    border-radius: 6px;
    outline: none;
    border: none;
    color: #000;
}

.close-message {
    aspect-ratio: 1/1;
    width: 20px;
    margin: 10px 0 0 calc(15rem - 30px);
}

.close-message:hover {
    cursor: pointer;
}

.refresh-todos {
    width: 8rem;
    padding: 15px 8px;
    height: 2.5rem;
    border-radius: 4px;
    border: none;
    background-color: #3C91E6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: 0.3s background-color;
}

.refresh-todos i {
    font-size: 22px;
}

.refresh-todos:hover {
    cursor: pointer;
    background-color: #2f70b1;
}