.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45rem;
}

@media (max-width: 100em) {
    .form-container {
        min-height: 40rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 18rem;
    background: linear-gradient(18deg, #0e1343, #1c30df);
    color: white;
    padding: 2rem;
    border-radius: 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.form .field-container {
    display: flex;
    flex-direction: column;
}

.form .btn {
    height: 2.5rem;
    color: white;
    background-color: #1c30df;
    border: 1px solid #1c30df;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.2s translate;
}

.form .btn:hover {
    cursor: pointer;
    translate: 0 -4px;
}