@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');


:root {
    --sidebar-width: 40rem;
    --sidebar-height: 100vw;
    --background: #0e1343;
    --discret-color: #787a7c;
    --rounded: 6px;
    --sidebar-color: #a2a5a6;
}

* {
    font-family: 'Heebo', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body[theme=dark] {
    background-color: #212529;
}

a {
    text-decoration: none;
}

/* progress bar */
.progress-bar {
    position: absolute;
    height: 4px;
    background-color: white;
    animation: slideIn 5s;
    transform-origin: left;
}

@keyframes slideIn {
    0% {
        transform: scaleX(0);
    }
    10% {
        transform: scaleX(10%);
    }
    20% {
        transform: scaleX(20%);
    }
    30% {
        transform: scaleX(30%);
    }
    50% {
        transform: scaleX(50%);
    }
    70% {
        transform: scaleX(70%);
    }
    90% {
        transform: scaleX(90%);
    }
    100% {
        transform: scaleX(100%);
    }
}

/* Flashed messages, do not touch */
.invisible {
    background-color: transparent !important;
}

.close-message {
    aspect-ratio: 1/1;
    width: 20px;
    margin-left: 1rem;
}

.close-message:hover {
    cursor: pointer;
}

.error {
    --color: #db2b06;
}

.success {
    --color: #1fb402;
}

.message-container {
    position: absolute;
    /* 16rem -> flashed message width, 10px -> gap, 20px -> close button width */
    right: calc(50% - 16rem + 10px + 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.flashed-message {
    width: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--color);
    border-radius: 0 0 8px 8px;
}

.nav {
    background-color: var(--background);
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 5rem;
}

.shadow {
    position: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.nav .logo {
    font-family: 'Kanit', sans-serif;
    color: white;
    letter-spacing: 4px;
    font-size: 38px;
    margin-left: 2rem;
}

.profile-picture {
    height: 2.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 16px;
    width: 100%;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: white;
}

.nav .auth-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
    margin-right: 2rem;
}

.auth-buttons .sign-up button {
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.2s, scale 0.2s;
    border: 1px solid #1c30df;
    border-radius: var(--rounded);
    color: inherit;
    font-size: inherit;
}

.auth-buttons .sign-up:hover button {
    background-color: #1c30df;
    cursor: pointer;
}

.slide {
    position: relative;
}

.slide::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 1.5px;
    background-color: white;
    transform: scaleX(0);
    transition: 0.2s transform;
    transform-origin: right;
}

.slide:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}