@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

* {
    font-family: 'Heebo', sans-serif;
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body[theme=dark] {
    background-color: #212529;
}

a {
    text-decoration: none;
}

input {
    padding: 8px 14px;
    border-radius: 8px;
    border: 1px solid #a2a5a6;
    color: black;
}

input:focus {
    border: 1px solid #5361de;
    outline: 3px solid rgba(146, 146, 255, 0.6);
}

.invisible {
    display: none !important;
}

/* progress bar */
.progress-bar {
    position: absolute;
    height: 4px;
    background-color: white;
    transform-origin: left;
}

/* Flashed messages, do not touch */
.error {
    --color: #db2b06;
}

.success {
    --color: #1fb402;
}

.message-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    pointer-events: none;
}

.message-container .flashed-message {
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 16px;
    border-radius: 0 0 8px 8px;
    color: #fff;
    gap: 1rem;
    width: 14rem;
    height: 3rem;
    position: relative;
    text-align: center;
    pointer-events: all;
}

.flashed-message .close-button {
    background-color: transparent;
    font-size: 2.5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 100%;
    color: #fff;
}

.flashed-message .close-button .rotated {
    rotate: 45deg;
}

.flashed-message .close-button:hover {
    cursor: pointer;
}

.nav {
    background-color: #0e1343;
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 5rem;
}

.shadow {
    position: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.nav .logo {
    font-family: 'Kanit', sans-serif;
    color: white;
    letter-spacing: 4px;
    font-size: 38px;
    margin-left: 2rem;
}

.profile-picture {
    height: 2.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 16px;
    width: 100%;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: white;
}

.nav .auth-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
    margin-right: 2rem;
}

.auth-buttons .sign-up button {
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.2s, scale 0.2s;
    border: 1px solid #1c30df;
    border-radius: 8px;
    color: inherit;
    font-size: inherit;
}

.auth-buttons .sign-up:hover button {
    background-color: #1c30df;
    cursor: pointer;
}

.slide {
    position: relative;
}

.slide::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 1.5px;
    background-color: white;
    transform: scaleX(0);
    transition: 0.2s transform;
    transform-origin: right;
}

.slide:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}