:root {
    --sidebar-width: 20rem;
    --sidebar-height: 100vw;
    --sidebar-background: #0e1343;
    --discret-color: #787a7c;
    --rounded: 8px;
    --sidebar-color: #17e6df;
}

body {
    background-color: #05092b;
    overflow: hidden;
}

input:focus {
    outline: none;
}

input, span, p {
    color: var(--discret-color);
}

@media screen and (min-width: 600px) {
    .ui-container {
        display: grid;
        grid-template-columns: 0fr 10fr 0fr;
    }
}

@media screen and (max-width: 600px) {
    .ui-container {
        display: none;
    }
}

.nav {
    border-bottom: 1px solid var(--discret-color);
}

/* sidebar styling  */
.sidebar {
    background-color: var(--sidebar-background);
    width: var(--sidebar-width);
}

.search-container {
    display: flex;
    justify-content: center;
}

.group-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.group {
    min-width: 100%;
    height: 5rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 1rem;
    transition: background-color 0.2s;
}

.group:hover {
    background-color: #14b8b2;
    cursor: pointer;
}

.active {
    background-color: #14b8b2;
}

.active .group-name {
    color: #fff;
}

.group-name {
    /* padding: 5px 0 0 70px; */
    font-size: 20px;
    transition: color 0.2s;
    color: #fff;
}

.separator {
    display: inline-block;
    background-color: var(--discret-color);
    min-width: 100%;
    height: 2px;
}

.top-separator {
    margin-top: 15px;
}

.group-picture {
    border-radius: 50%;
    height: 3rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.new-room {
    position: absolute;
    border-radius: 50%;
    top: calc(100% - 50px - 1rem);
    left: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--sidebar-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.new-room .bx {
    font-size: 24px;
    color: #fff;
    margin-top: 3px;
}

.new-room:hover {
    transform: translateY(-7%);
    box-shadow: 0 0 20px rgba(4, 194, 252, 0.5);
}

.new-room:hover ~ .tooltip {
    opacity: 1;
}

.new-room:hover ~ .arrow {
    opacity: 1;
}

.tooltip {
    position: absolute;
    top: calc(100% - 50px - 1rem);
    left: calc(20px + 50px + 30px);
    text-align: center;
    background-color: #000;
    width: 6rem;
    height: 3rem;
    padding: 8px;
    transition: opacity 0.2s;
    transform: translateY(-15%);
    border-radius: var(--rounded);
    pointer-events: none;
    opacity: 0;
    z-index: 999;
}

.tooltip p {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

/* from here:
https://stackoverflow.com/questions/20076388/how-can-i-draw-a-left-pointing-triangle-using-css
*/
.arrow {
    position: absolute;
    top: calc(100% - 50px - 0.5rem);
    left: calc(20px + 50px + 10px);
    transform: translateY(-7%);
    right: 14rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 20px solid #000;
    border-bottom: 1rem solid transparent;
    transition: opacity 0.2s;
    opacity: 0;
}

.room-form {
    background-color: var(--sidebar-background);
    border-radius: var(--rounded);
    border: 1px solid var(--discret-color);
    width: 30rem;
    height: 20rem;
    position: absolute;
}

.room-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.room-form form input {
    height: 2rem;
    padding: 5px 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--discret-color);
    border-radius: var(--rounded);
}

.room-form .new-img-container img {
    border-radius: 50%;
    height: 115px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.room-form .new-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-form .form-btn {
    cursor: pointer;
    height: 2.5rem;
    background-color: #14b8b2;
    color: #fff;
    border-radius: var(--rounded);
    border: var(--discret-color);
    font-size: large;
}

.room-form .form-btn:hover {
    background-color: var(--sidebar-color);
}

.room-form .form-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-form .form-btn-div span {
    color: #fff;
}

.room-form #error-message {
    display: none;
    color: red;
    font-size: 20px;
    justify-content: center;
}

.close-button {
    background-color: transparent;
    border: none;
    margin-left: calc(100% - 2rem);
    cursor: pointer;
}

.room-form button img {
    width: 20px;
    height: 20px;
    padding: 10px 0;
}

.room-form::backdrop {
    background-color: #222;
    opacity: 0.4;
}

.chat-area {
    background-color: #05092b;
    color: var(--discret-color);
    display: inline-block;
    width: 100%;
    height: 100vw;
    border-left: 1.5px solid var(--discret-color);
    overflow-y: auto;
    /* firefox */
    scrollbar-color: transparent transparent;
    display: grid;
    grid-template-columns: 5fr 1fr;
    position: relative;
}

/* chrome */
.chat-area::-webkit-scrollbar {
    display: none;
}

.members-list {
    display: inline-block;
    background-color: var(--sidebar-background);
    width: var(--sidebar-width);
    height: var(--sidebar-height);
    border-left: 1.5px solid var(--discret-color);
    z-index: 999;
    position: sticky;
}

.member {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 15px 0 0 20px;
    font-size: 20px;
}

.member p {
    color: white;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.title-container h2 {
    color: var(--sidebar-color);
}

.title-container h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--sidebar-color);
}

.search {
    background-color: transparent;
    width: 15rem;
    height: 1.25rem;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 10pt;
    border: 1px solid var(--discret-color);
    border-radius: var(--rounded);
}

.send-message-form {
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: absolute;
    top: 100vh;
    position: fixed;
    padding: 5px 1.5rem;
    border-top: 1px solid var(--discret-color);
    background-color: var(--sidebar-background);
    transform: translateY(-100%);
    width: 64%;
    height: 5rem;
}

.send-message {
    border-radius: var(--rounded);
    border: 1px solid var(--discret-color);
    color: var(--discret-color);
    background-color: transparent;
    font-size: 16px;
    /* width: calc(100% - 25rem); */
    width: 100%;
    height: 2rem;
    padding: 3px 15px;
}

.messages-container {
    margin: 2rem;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 18px;
    overflow: scroll;
}

.message-profile-picture {
    height: 3.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.message {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    margin: 0.5rem 0;
}

.infos-container p {
    margin: 0;
}

.infos-container p:not(.message-username) {
    color: white;
}

.message-username {
    font-size: 20px;
    font-weight: bold;
    color: #14b8b2;
}