@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

:root {
    --background: #0e1343;
    --color: #a2a5a6;
    --rounded: 6px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.nav {
    background-color: var(--background);
    padding: 1.5rem 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav .logo {
    font-family: 'Kanit', sans-serif;
    color: white;
    letter-spacing: 4px;
    font-size: 38px;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 4rem;
    font-size: 16px;
    width: 100%;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: white;
}

.nav .auth-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
}

.auth-buttons .sign-up button {
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.2s, scale 0.2s;
    border: 1px solid #2e51ed;
    border-radius: var(--rounded);
    color: inherit;
    font-size: inherit;
}

.auth-buttons .sign-up:hover button {
    background-color: #2e51ed;
    scale: 1.07;
    cursor: pointer;
}

.auth-buttons .login {
    position: relative;
}

.auth-buttons .login:hover::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: 1.5px;
    background-color: white;
    animation: slideIn 0.1s forwards;
}

@keyframes slideIn {
    0%  {
        width: 0;
    }
    20% {
        width: 20%;
    }
    50% {
        width: 50%;
    }
    70% {
        width: 70%;
    }
    100% {
        width: 100%;
    }
}
