<div id="messages-container" class="messages-container">
    {% for message in messages %}
        {% if message.chat_group == group.id %}
        <div class="message">
            <img class="message-profile-picture" src="{{ url_for('static', filename=''+user.profile_picture) }}" alt="profile picture">
            <div class="infos-container">
                <p class="message-username">{{ user.username }}</p>
                <p>{{ message.content }}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<form hx-post="/send-message" hx-target="#messages-container" hx-swap="beforeend" class="send-message-form" id="send-message-form">
    <input type="text" class="send-message" id="message" placeholder="Enter a message..." autocomplete="off" />
</form>

<div class="members-list">
    <div class="title-container">
        <h2>All group members</h2>
    </div>
    <div class="members">
        {% for member in members %}
        <div class="member">
            <p>{{ member.username }}</p>
            <img class="profile-picture" src="{{ url_for('static', filename=''+member.profile_picture) }}" alt="{{ member.username }} profile picture">
        </div>
        {% endfor %}
    </div>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}