<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="message-container" style="display: none;">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="show-error-message">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="show-success-message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        {% block footer %}
        {% endblock %}
    </footer>
</body>
{% block scripts %}
{% endblock %}
</html>