{% extends "base.html" %} 

{% block title %}
Chat App - Home Page
{% endblock %}

{% block style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/chat.css') }}"
/>
<link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
{% endblock %} 

{% block content %}
<!-- <nav>
    <a href="/chat">Go to chat</a>
    <a href="/logout">Logout</a>
</nav> -->

<div id="user" data-user="{{ user.username }}"></div>

<div class="ui-container">
  <div class="sidebar">
    <input type="text" class="search" placeholder="Search here..." />
    <button class="new-room" id="create-room-btn">
      <i class='bx bxs-message-add'></i>
    </button>
    <span class="tooltip">Create a new chat room</span>
    <span class="arrow"></span>
  </div>
  
  <div class="chat-area" id="chat-area">
    <div id="messages-container" class="messages-container"></div>
  
    <div class="send-message-form" id="send-message-form">
      <input
        type="text"
        class="send-message"
        id="message"
        placeholder="Enter a message..."
        autocomplete="off"
      />
    </div>
  </div>
  <div class="members-list">
    <div class="title-container">
      <h2>All group members</h2>
    </div>
    <div class="members"></div>
  </div>

  <dialog id="room-form" class="room-form">
    <button id="room-close-btn" class="close-button">
      <img src="{{ url_for('static', filename='media/close.png') }}" alt="close button">
    </button>
    <form method="dialog">
      <input type="text" name="room-name" placeholder="Room name..." required>
      <button class="">Confirm</button>
    </form>
  </dialog>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/create_room.js') }}"></script>
{% endblock %}
