<div class="message-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="group-message message {{ category }}" id="message">
                <p>{{ message }}</p>
            </div>
            <!-- ugly but necessary :( -->
            <img class="close-message" id="close-message" onclick="document.getElementById('message').style.display='none';document.getElementById('close-message').style.display='none'" src="{{ url_for('static', filename='media/close.png') }}" alt="close button">
        {% endfor %}
    {% endwith %}
</div>

<span class="separator top-separator"></span>
{% for group in groups %}
{% if group.user == user %}
<div class="group" hx-get="/group/{{ group.id }}" hx-target="#chat-area" hx-swap="innerHTML">
    <span>
        <p class="group-name">{{ group.name }}</p>
    </span>
    <img class="group-picture" src="{{ url_for('static', filename='files/'+group.image_path ) }}" alt="group logo">
</div>
<span class="separator"></span>
{% endif %}
{% endfor %}