{% extends "base.html" %}

{% block title %}
SwiftMessengr
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="https://unpkg.com/htmx.org@1.8.6"></script>
{% endblock %}

{% block content %}
<main class="container" id="container">
    <h2>Welcome to SwiftMessengr!</h2>
    <div class="btn-container">
        <a href="/login" class="btn">Login</a>
        <a href="/sign-up" class="btn">Sign Up</a>
    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
{% endblock %}