{% extends "base.html" %}

{% block title %}
Chat App - Sign Up
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
<main class="container">
    <form method="post" class="signup-form">
        <div class="field-container">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Your name..." required>
        </div>
        <div class="field-container">
            <label for="password">Your password</label>
            <input type="password" name="password" placeholder="Your password..." required>
        </div>
        <div class="field-container">
            <label for="confirm">Confirm your password</label>
            <input type="password" name="confirm" placeholder="Confirm your password" required>
        </div>
        <button type="submit" class="btn">Sign Up</button>
    </form>
</main>
{% endblock %}

{% block scripts %}
<script>
  document.body.classList.add('register-body')
</script>
{% endblock %}